<h1>Estoques</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Responsável</th>
  </tr>

  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.description %></td>
      <td><%= stock.responsible.name %></td>

      <td><%= link_to 'Editar', edit_stock_path(stock) %></td>
      <td><%= link_to 'Remover', stock_path(stock),
                    method: :delete, data: {
                      confirm: 'Você tem certeza que deseja remover o estoque \'' +
                      stock.name + '\'?'
                    } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Adicionar novo stock', new_material_path %> <br>
